<h1 class="text-center">Розклад</h1>
<div class="text-center my-3">
  <%=link_to "<- Попередній ", schedule_path(date: @prev_week)%>
  <b><%= @beginning_of_week.day%>-<%= @end_of_week.day%> <%=@end_of_week.strftime('%B %Y')%></b>
  <%=link_to " Наступний ->", schedule_path(date: @next_week)%>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th class="text-center">8:00 - 9:35</th>
        <th class="text-center">9:55 - 11:30</th>
        <th class="text-center">12:00 - 13:35</th>
        <th class="text-center">13:55 - 15:15</th>
        <th class="text-center">15:25 - 16:45</th>
        <th class="text-center">16:55 - 18:15</th>
        <th class="text-center">18:25 - 19:45</th>
        <th class="text-center">19:55 - 21:15</th>
      </tr>
    </thead>
    <tbody>
      <% 7.times do %>
        <tr>
          <td><%=@day.strftime("%a")%></td>
          <% 8.times do |j|%>
            <td class="text-center">
              
              <% @lessons.where(number: j+1, event_at: @day).each do |lesson|%>
                <%= lesson.subject.name%>
              <% end %>
            </td>
          <%end%>
          <% @day = @day.tomorrow%>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
