<h1 class="text-center">Розклад</h1>
<div class="text-center">
  <%=link_to "<- PREV", schedule_path(date: @prev_week)%>
  <%= @beginning_of_week.day%>-<%= @end_of_week.day%> <%=@beginning_of_week.strftime('%B %Y')%>
  <%=link_to "NEXT ->", schedule_path(date: @next_week)%>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>8:00 - 9:30</th>
        <th>9:55 - 11:30</th>
        <th>12:00 - 13:30</th>
        <th>13:55 - 15:15</th>
        <th>15:25 - 16:45</th>
        <th>16:55 - 18:05</th>
        <th>18:00 - 19:20</th>
        <th>19:40 - 21:00</th>
      </tr>
    </thead>
    <tbody>
      <% 7.times do %>
        <tr>
          <td><%=@day.strftime("%a")%></td>
          <% 8.times do |j|%>
            <td class="text-center">
              -
              <% @lessons.where(number: j,event_at: @day).each do |lesson|%>
                <%=lesson.subject.name %>
              <% end %>
            </td>
          <%end%>
          <% @day = @day.tomorrow%>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>