<tr>
  <td><%=index+1%></td>
  <td><%=student.name%></td>
  <td class="text-center">
    <div class="field d-inline-block mx-2">
      <input type="radio" class="custom_radio radio_green" name="present_<%= student.id%>_<%=index+1%>" value="yes" id="present_<%= student.id%>_yes">
      <label for="present_<%= student.id%>_yes" title="Присутній"></label>
    </div>
    <div class="field d-inline-block mx-2">
      <input type="radio" class="custom_radio radio_yellow" name="present_<%= student.id%>_<%=index+1%>" value="past" id="present_<%= student.id%>_past">
      <label for="present_<%= student.id%>_past" title="Запізнився"></label>
    </div>
    <div class="field d-inline-block mx-2">
      <input type="radio" class="custom_radio radio_red" name="present_<%= student.id%>_<%=index+1%>" value="no" id="present_<%= student.id%>_no" checked>
      <label for="present_<%= student.id%>_no" title="Відсутній"></label>
    </div>
  </td>
  <td class="text-center">
    <select class="form-select w-auto mx-auto" aria-label=".form-select-lg example">
      <option selected>-</option>
      <option value="5">5</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="2">2</option>
      <option value="1">1</option>
    </select>
  </td>
  <td><textarea class="form-control" id="student_<%= student.id%>_comment" rows="3"></textarea></td>
</tr>
