<h1 class="text-center"><%=@day.strftime("%e %B, %Y")%></h1>
<div class="nav nav-tabs" id="nav-tab" role="tablist">
  <%8.times do |i|%>
    <%i +=1%>
    <% lesson = @lessons.where(number: i).first %>
    <% if lesson%>
      <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#lesson_<%=i%>" type="button" role="tab" aria-controls="lesson_<%=i%>">Пара <%= i%></button>
    <% else %>
      <button class="nav-link disabled" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#lesson_<%=i%>" type="button" role="tab" aria-controls="lesson_<%=i%>" disabled>Пара <%= i%></button>
    <%end%>
  <%end%>
</div>
<div class="tab-content" id="myTabContent">
  <% @lessons.each do |lesson| %>
    <% group = lesson.group%>
    <div class="tab-pane fade" id="lesson_<%=lesson.number%>" role="tabpanel">
      <div class="row my-3 align-items-center justify-content-between">
        <div class="col-12 col-md-6 col-xl-2">
          <small class="color_gray d-block mb-1">Група:</small> </b> <%= lesson.group.name%>
      </div>
      <div class="col-12 col-md-6 col-xl-2">
        <small class="color_gray d-block mb-1">Предмет:</small>  <%= lesson.subject.name%>
      </div>
      <div class="col-12 col-md-6 col-xl-5">
        <%=render "form", lesson: lesson %>
      </div>
      <div class="col-12 col-md-6 col-xl-3 text-end">
        <%= render "homeworks/form", homework: (lesson.homework || lesson.build_homework) %>
      </div>
    </div>
    <div class="row-responsive mt-4">
      <div class="row mx-0 fw-bold my-1">
        <div class="col-1 text-center">
          #
        </div>
        <div class="col-11">
          <div class="row mx-0 align-items-center">
            <div class="col-3 text-center">
              Прізвище, ім'я
            </div>
            <div class="col-3 text-center">
              Присутній
            </div>
            <div class="col-2 text-center">
              Оцінка
            </div>
            <div class="col-4 text-center">
              Коментар
            </div>
          </div>
        </div>
        <div class="col-12"><hr></div>
      </div>  
      <div class="row mx-0 align-items-center">
        <% group.students.each_with_index do |student, index|%>
          <div class="col-md-1 text-center ьи">
            <%=index+1%>
          </div>
          <div class="col-11">
            <%= render "lesson_works/lesson_work", lesson_work: LessonWork.find_or_create_by!(student: student, lesson: lesson), index:index %>
          </div>
          <div class="col-12"><hr></div>
        <%end%>
      </div>

    </div>
  </div>
<%end%>
</div>
