<h1 class="text-center"><%=@day.strftime("%e %B, %Y")%></h1>
<%8.times do |i|%>
  <%i +=1%>
  <% lesson = @lessons.where(number: i) %>
  <%= link_to "lesson #{i} |", ""%>
<%end%>
<% @lessons.each do |lesson| %>
  <% group = lesson.group%>
  <div class="" id="lesson_<%=lesson.number%>">
    <div class="">
      group: <%=lesson.group.name%>
      subject: <%=lesson.subject.name%>
      <%= form_for lesson do |form| %>
        <%= form.text_field :topic %>
      <% end %>
      <button class="btn btn-info" type="button" name="button">Добавити завдання</button>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>GPA</th>
            <th>In present</th>
            <th>Test</th>
            <th>Classwork</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <% group.students.each_with_index do |student, index|%>
            <%= render "student", student: student, index:index%>
          <%end%>
        </tbody>
        <tr>
        </tr>
      </table>
    </div>
  </div>
<%end%>

<button type="button" class="btn btn__primary btn__auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Добавити домашню роботу
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
