<div class="col-12 col-md-4 mb-3">
  <div class="Box Box__card Box__radius" data-bs-toggle="modal" data-bs-target="#newsModal" data-bs-modalTitle="<%= post.name %>" data-bs-modalDesc="<%= post.text %>">
    <%=image_tag post.image, class: "Box__photo"%>
    <div class="p-2">
      <h3 class="h5" title="<%= post.name %>"><%=post.name.truncate(29)%></h3>
      <p class="m-0"><%=post.text.truncate(128)%></p>
    </div>
  </div>
</div>

