<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to root_path, class:"navbar-brand"  do %>
      ГОЛОВНА
    <%end%>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">

        </li>
        <li class="nav-item">
          <%= link_to lessons_path, class:"nav-link"  do %>
            Attendance
          <%end%>
        </li>
        <li class="nav-item">
          <%= link_to schedule_path, class:"nav-link"  do %>
            SCHEDULE
          <%end%>
        </li>
        <li class="nav-item">
          <%= link_to homeworks_path, class:"nav-link"  do %>
            HOMEWORKS
          <%end%>
        </li>
      </ul>
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to news_path,class:"nav-link"  do %>
            Новини
          <%end%>
        </li>
        <li class="nav-item">
          <%= link_to profile_path, class:"nav-link"  do %>
            Профіль
          <%end%>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete,class:"nav-link"  do %>
            Вихід
          <%end%>
        </li>
      </ul>
    </div>
  </div>
</nav>
